nav {
  background-color: rgb(16, 0, 30);
  padding: 10px;
  display: flex;
  gap: 10px;

  a {
    color: cornsilk;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  a:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(1.05);
  }
}


