@font-face {
  font-family: 'Audiowide';
  src: url('/assets/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0B0E14;
  background: radial-gradient(circle at top, #161B22 0%, #0B0E14 100%);
  background-attachment: fixed;
}

h1 {
  font-family: 'Audiowide',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #00F2FF;
  font-size: 72px;
  padding: 40px;
  background-color: #0B0E14;
}

h2 {
  text-align: center;
  color: #D1D5DB;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  margin: 40px 0;
}

h1, h2, h3 {
  font-weight: 600;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.car-card {
  background: #161B22;
  border: 1px solid #00F2FF;
  border-radius: 16px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.car-card h3 {
  font-family: 'Monserrat',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 10px 0;
}

.car-card p {
  color: #9CA3AF;
  margin: 8px 0;
  font-size: 15px;
}

.car-card .price {
  font-size: 18px; 
  color: #D4AF37; 
  font-weight: 700;
}

.car-card button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: transparent;
  color: #00F2FF;
  border: 2px solid #00F2FF;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.car-card button:hover {
  background-color: #00F2FF;
  color: #0B0E14;
}

.car-card:hover {
  transform: translateY(-10px);
  border-color: #00F2FF; 
  box-shadow: 0 0 20px rgba(0, 242, 255, 0.15); 
}